---

- name: Configure {{postfix_alias}}
  lineinfile: >
    dest="{{postfix_alias}}"
    regexp="^{{ item.alias }}{{':'}}"
    line="{{ item.alias }}{{':'}} {{ item.user }}"
    backup="yes"
  with_items: "{{aliases}}"
  when: aliases > 0
  notify: newaliases
  tags: config_aliases
