---

- name: "mailer_conf: Configure /etc/mail/mailer.conf"
  template:
    src: mailer.conf.j2
    dest: /etc/mail/mailer.conf
    owner: root
    group: wheel
    mode: "0644"
    backup: "{{ fm_backup_conf }}"

# EOF
...
